/*
 *  Owl Carousel - Core
 */
/* line 4, ../../src/sass/owl-carousel2/_core.scss */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
/* line 12, ../../src/sass/owl-carousel2/_core.scss */
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
/* line 17, ../../src/sass/owl-carousel2/_core.scss */
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 26, ../../src/sass/owl-carousel2/_core.scss */
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
/* line 33, ../../src/sass/owl-carousel2/_core.scss */
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
/* line 41, ../../src/sass/owl-carousel2/_core.scss */
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
/* line 47, ../../src/sass/owl-carousel2/_core.scss */
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
/* line 52, ../../src/sass/owl-carousel2/_core.scss */
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 64, ../../src/sass/owl-carousel2/_core.scss */
.owl-carousel.owl-loaded {
  display: block;
}
/* line 68, ../../src/sass/owl-carousel2/_core.scss */
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
/* line 73, ../../src/sass/owl-carousel2/_core.scss */
.owl-carousel.owl-hidden {
  opacity: 0;
}
/* line 77, ../../src/sass/owl-carousel2/_core.scss */
.owl-carousel.owl-refresh .owl-item {
  display: none;
}
/* line 81, ../../src/sass/owl-carousel2/_core.scss */
.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 88, ../../src/sass/owl-carousel2/_core.scss */
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
/* line 93, ../../src/sass/owl-carousel2/_core.scss */
.owl-carousel.owl-rtl {
  direction: rtl;
}
/* line 97, ../../src/sass/owl-carousel2/_core.scss */
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
/* line 103, ../../src/sass/owl-carousel2/_core.scss */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
/* line 5, ../../src/sass/owl-carousel2/_animate.scss */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}
/* line 9, ../../src/sass/owl-carousel2/_animate.scss */
.owl-carousel .owl-animated-in {
  z-index: 0;
}
/* line 12, ../../src/sass/owl-carousel2/_animate.scss */
.owl-carousel .owl-animated-out {
  z-index: 1;
}
/* line 15, ../../src/sass/owl-carousel2/_animate.scss */
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
/* line 5, ../../src/sass/owl-carousel2/_autoheight.scss */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
/* line 7, ../../src/sass/owl-carousel2/_lazyload.scss */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}
/* line 12, ../../src/sass/owl-carousel2/_lazyload.scss */
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
/* line 6, ../../src/sass/owl-carousel2/_video.scss */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
/* line 12, ../../src/sass/owl-carousel2/_video.scss */
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}
/* line 27, ../../src/sass/owl-carousel2/_video.scss */
.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}
/* line 31, ../../src/sass/owl-carousel2/_video.scss */
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
/* line 36, ../../src/sass/owl-carousel2/_video.scss */
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}
/* line 45, ../../src/sass/owl-carousel2/_video.scss */
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/*
 * 	Default theme - Owl Carousel CSS File
 */
/* line 4, ../../src/sass/owl-carousel2/_theme.scss */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
/* line 9, ../../src/sass/owl-carousel2/_theme.scss */
.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
/* line 19, ../../src/sass/owl-carousel2/_theme.scss */
.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}
/* line 25, ../../src/sass/owl-carousel2/_theme.scss */
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
/* line 32, ../../src/sass/owl-carousel2/_theme.scss */
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
/* line 36, ../../src/sass/owl-carousel2/_theme.scss */
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
/* line 40, ../../src/sass/owl-carousel2/_theme.scss */
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/* line 45, ../../src/sass/owl-carousel2/_theme.scss */
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
/* line 58, ../../src/sass/owl-carousel2/_theme.scss */
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}
