@import "../src/sass/bootstrap-sass/assets/stylesheets/_bootstrap";

// Some basic padding for all wrappers
.wrapper {
  padding: $grid-gutter-width 0;
}

// Reset hero wrapper padding to 0
#wrapper-hero {
  padding: 0px !important;
}

// Adding basic Wordpress classes to pass the Wordpress.org tests
.sticky, .gallery-caption, .bypostauthor {
  font-size: inherit;
}

// Separate sticky wrapper from main content
.wrapper#wrapper-sticky {
  border-bottom: 1px solid $gray-light;
}

// Adding some contrast background color to footer full widget
#wrapper-footer-full, #wrapper-static-hero {
  background-color: $gray-lighter;
}

// Necessary WP classes
.wp-caption {
  font-size: inherit;
}

.wp-caption-text {
  font-size: inherit;
}

.screen-reader-text {
  font-size: inherit;
}

.alignright {
  float: right;
  padding-left: 10px;
}

.alignleft {
  float: left;
  padding-right: 10px;
}

.aligncenter {
  margin: 0px auto;
}

//Post design
.entry-footer span {
  padding-right: 10px;
}

//Limit featured image size to 100%
img.wp-post-image, article img, figure, img, #secondary img {
  max-width: 100%;
  height: auto;
}

// Skip to content link
a.skip-link {
  z-index: 1000;
  position: fixed;
  top: 0px;
  right: 0px;
}

// Reset Jumbotron default margin
.jumbotron {
  margin-bottom: 0px;
}

//Bootstrap3 to Bootstrap4 "translation"
.menu-item {
  float: left;
  width: auto;
  display: inline;
}

//ul.nav.navbar-nav a {
//	display: block;
//    padding-top:    .425rem;
//    padding-bottom: .425rem;
//}

// Navbar toggle
//
// Custom button for toggling the `.navbar-collapse`, powered by the collapse
// JavaScript plugin.
// Navbar vertical align

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 0px;

  //$navbar-padding-horizontal;
  padding: 9px 10px;
  background-color: transparent;
  background-image: none;

  // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;

  // We remove the `outline` here, but later compensate by attaching `:hover`
  // styles to `:focus`.
  &:focus {
    outline: 0;
  }

  // Bars
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }

  .icon-bar + .icon-bar {
    margin-top: 4px;
  }
}

.navbar {
  .collapsing, .collapse.in {
    width: 100%;
  }
}

.navbar-dark {
  .navbar-toggle {
    border: 1px solid #fff;
  }

  .icon-bar {
    border-bottom: 1px solid #fff;
  }

  .dropdown-menu {
    background-color: $gray-dark;
  }
}

.navbar #main-menu {
  float: left;
}

.navbar-nav {
  .nav-item {
    float: left;
  }

  .nav-link {
    display: block;
    padding-top: 0.425rem;
    padding-bottom: 0.425rem;

    + .nav-link {
      margin-left: 0rem;
    }
  }

  .nav-item + .nav-item {
    margin-left: 0rem;
  }
}

.nav-link {
  margin-left: 0.425rem;
  margin-right: 0.425rem;
}

// Fixing BS dropdown in a dropdown
.dropdown-menu .dropdown-menu {
  position: relative;
  display: block;
  border: none;
  box-shadow: none;
  margin-left: 10px;
  width: 140px;

  li {
    list-style: square;
    padding-left: 0px;
  }
}

.dropdown-menu .menu-item {
  width: 100%;

  a:hover {
    background-color: $brand-primary;
  }
}
