<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!--// meta config //-->
    <meta name="copyright" content="Marc Puttkammer">
    <meta name="language" content="en">
    <meta name="keywords" content="web programming linux hacking">
    <meta name="description" content="This is the site description">
    <meta name="robots" content="index, follow">
    <meta name="audience" content="all">
    <meta name="page-topic" content="IT-service">
    <meta name="revisit-after" content="7 days">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title> {{ doc_title }} </title>

    <link rel="stylesheet" type="text/css" href="icos.css" media="screen, projection">
    <link rel="icon" href="pics/favicon.ico">
  </head>
  <body>
  
    <!--// header section //-->
    <header>
      <h1> {{ Heading }} </h1>
      <p> {{ slogan_paragraph }} </p>
      <a href=""> {{ see_more }} </a>
    </header>

    <!--// navigation //-->
    <nav>
      <ul>
        <li><a href=""> {{ menu_link }} </a></li>
        <li><a href=""> {{ menu_link }} </a></li>
        <li><a href=""> {{ menu_link }} </a></li>
      </ul>
    </nav>

    <!--// main section //-->
    <main>
    
      <!--// article section //-->
      <section>
        <article>
          <header>
          </header>
          <main>
	    <span class="default-ico ico-full android-ico"></span>
	    <span class="default-ico ico-half android-ico"></span>
	    <span class="default-ico ico-quad android-ico"></span>
	    <span class="default-ico ico-64px android-ico"></span>
	    <span class="default-ico ico-32px android-ico"></span>
	    <span class="default-ico ico-16px android-ico"></span>
            </span>
          </main>
          <footer>
          </footer>
        </article>
      </section>
      
      <!--// news section //-->
      <aside>
      </aside>
    </main>

    <!--// footer //-->
    <footer>
      <address>
      </address>
    </footer>

    <!--// scripts //-->
    <script type="text/javascript" href="js/javascript.js"></script>
  </body>
</html>
